//COLORS
$color-primary: #1654a8;
$color-primary-light: #b8dff6;
$color-primary-alt-light: #005daa;
$color-primary-dark: #073e88;

$color-secondary: #fae613;

$color-grey-dark: #2b2e34;
$color-grey: #505050;
$color-grey-light: #f2f2f2;

//FONT
$default-font-size: 1.6rem;

//LAYOUT
$row-inset-standard: 13.5%;
$row-spacing-vertical: 7rem;
$border-radius: 1rem;
