.row {
	margin: 0 $row-inset-standard;
	height: 100%;
	position: relative;
	// display: flex;

	&--section {
		padding: $row-spacing-vertical 0;
	}

	.col-40 {
		width: 40%;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.col-60 {
		width: 59.5%;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
}
