.header {
	&__image-bg {
		background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.91) 40%, transparent 60%),
			url("../public/images/AdobeStock_291470656a.png");
		background-size: cover;
		background-position: center top;
		height: 54rem;

		@include respond(tab-land) {
			background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.87) 50%, transparent 70%),
				url("../public/images/AdobeStock_291470656a.png");
			height: 48rem;
		}

		@include respond(tab-port) {
			height: 42rem;
			background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.85) 58%, transparent 78%),
				url("../public/images/AdobeStock_291470656a.png");
		}

		@include respond(phone) {
			height: 38rem;
			background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.85) 65%, transparent 85%),
				url("../public/images/AdobeStock_291470656a.png");
		}
	}

	&__content-block {
		width: 42%;
		padding-bottom: 2rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include respond(tab-land) {
			width: 50%;
		}

		@include respond(tab-port) {
			width: 65%;
		}

		@include respond(phone) {
			width: 85%;
		}

		.heading-primary {
			width: 70%;

			@include respond(phone) {
				width: 100%;
			}
		}
	}

	&__sub-row {
		background-color: $color-grey-light;

		&__option-list {
			display: flex;
			justify-content: center;
			list-style: none;

			@include respond(tab-port) {
				width: 120%;
				transform: translateX(-8.33%);
			}
		}

		&__option {
			display: inline-block;
			color: $color-primary;
			text-transform: uppercase;
			padding: 0 5rem;
			margin: 3rem 0;
			flex-grow: 1;
			font-size: 1.5rem;

			@media (max-width: 90em) {
				padding: 0 3rem;
			}

			@include respond(tab-land) {
				font-size: 1.15vw;
				line-height: 1.3em;
			}

			@include respond(tab-port) {
				font-size: 1.3vw;
				line-height: 1.3em;
			}

			@include respond(phone) {
				text-align: center;
			}

			&:not(:last-child) {
				border-right: 1px solid $color-primary;
			}

			.header__icon {
				display: inline-block;
				vertical-align: middle;
				height: 2em;
				padding-right: 0.65em;
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
