@font-face {
	font-family: 'proxima-nova';
	src: url('../public/fonts/ProximaNova-Regular.otf') format("opentype");
}
@font-face {
	font-family: 'proxima-nova';
	src: url('../public/fonts/ProximaNovaBold.otf') format("opentype");
	font-weight: bold;
}

body {
	font-size: $default-font-size;
	font-family: 'proxima-nova', sans-serif;
	color: $color-grey;
}

.heading-primary {
	color: $color-primary;
	font-size: 3.7rem;
	font-weight: 700;
	text-transform: uppercase;
}

.heading-secondary {
	color: $color-primary;
	font-size: 3rem;
	text-transform: uppercase;
}

.heading-tertiary {
	color: $color-grey-dark;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
